<h2>Lista de mensagens</h2>
<hr>
<a href="/admin/postagens/add">
    <button class="btn btn-success">Nova mensagem</button>
</a>

{{#each postagens}}
    <div class="card mt-2">
        <div class="card-body">
            <h1>Marca: {{categoria.nome}}</h1>            
            <h3>Titulo: {{titulo}}</h3>    
            <h4>Descrição do problema: {{descricao}}</h4>            
            <small>E-mail: {{email}}</small><br>
            <small>Telefone: {{telefone}}</small><br>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar</button></a>
        </div>
    </div>
{{else}}
    <p>Nenhuma mensagem</p>

{{/each}}